.markerOuter {
    padding-left: 25px;
    position: relative;
    width: auto;
    height: 30px;
    font-size: 12px;
    background-color: #c4c4c4;
    border-radius: 35px;
    color: #212121;

}

.pin {
    font-size: 12px;
    color: #212121;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #212121;
    text-align: center;
    line-height: 20px;
    font-weight: 700;
    z-index: 1;

}